@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'normalize',
        'mixins',
        'variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%;
}

// ---------------------------------------------- BEGIN
.header {
    height: 8rem;
    width: 100%;
    background-color: #5D3721;
    &__wrap {
        @include flexCenter;
        justify-content: space-between;
        // outline: 2px solid red;
        height: 8rem;
    }
    &__logo {
        cursor: pointer;
        // outline: 2px solid red;
        height: 100%;
        width: 8%;
        @include flexCenter;
        justify-content: flex-start;
    }
    &__menu {
        @include flexCenter;
    }
    &__item {
        margin: 0 1rem;
        color: #fff;
        text-transform: capitalize;
        width: 11rem;
        text-align: center;
    }
    &__cart {
        background-image: url(../img/header/Subtract.png);
        // background-image: url("data:image/svg+xml,%3Csvg width='97' height='49' viewBox='0 0 97 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.5 5C2.98528 5 5 2.98528 5 0.5C5 0.330995 4.99068 0.164167 4.97254 0H12.0275C12.0093 0.164167 12 0.330995 12 0.5C12 2.98528 14.0147 5 16.5 5C18.9853 5 21 2.98528 21 0.5C21 0.330995 20.9907 0.164167 20.9725 0H28.0275C28.0093 0.164167 28 0.330995 28 0.5C28 2.98528 30.0147 5 32.5 5C34.9853 5 37 2.98528 37 0.5C37 0.330995 36.9907 0.164167 36.9725 0H44.0275C44.0093 0.164167 44 0.330995 44 0.5C44 2.98528 46.0147 5 48.5 5C50.9853 5 53 2.98528 53 0.5C53 0.330995 52.9907 0.164167 52.9725 0H60.0275C60.0093 0.164167 60 0.330995 60 0.5C60 2.98528 62.0147 5 64.5 5C66.9853 5 69 2.98528 69 0.5C69 0.330995 68.9907 0.164167 68.9725 0H76.0275C76.0093 0.164167 76 0.330995 76 0.5C76 2.98528 78.0147 5 80.5 5C82.9853 5 85 2.98528 85 0.5C85 0.330995 84.9907 0.164167 84.9725 0H92.0275C92.0093 0.164167 92 0.330995 92 0.5C92 2.98528 94.0147 5 96.5 5C96.669 5 96.8358 4.99068 97 4.97254V12.0275C96.8358 12.0093 96.669 12 96.5 12C94.0147 12 92 14.0147 92 16.5C92 18.9853 94.0147 21 96.5 21C96.669 21 96.8358 20.9907 97 20.9725V28.0275C96.8358 28.0093 96.669 28 96.5 28C94.0147 28 92 30.0147 92 32.5C92 34.9853 94.0147 37 96.5 37C96.669 37 96.8358 36.9907 97 36.9725V44.0275C96.8358 44.0093 96.669 44 96.5 44C94.0147 44 92 46.0147 92 48.5C92 48.669 92.0093 48.8358 92.0275 49H84.9725C84.9907 48.8358 85 48.669 85 48.5C85 46.0147 82.9853 44 80.5 44C78.0147 44 76 46.0147 76 48.5C76 48.669 76.0093 48.8358 76.0275 49H68.9725C68.9907 48.8358 69 48.669 69 48.5C69 46.0147 66.9853 44 64.5 44C62.0147 44 60 46.0147 60 48.5C60 48.669 60.0093 48.8358 60.0275 49H52.9725C52.9907 48.8358 53 48.669 53 48.5C53 46.0147 50.9853 44 48.5 44C46.0147 44 44 46.0147 44 48.5C44 48.669 44.0093 48.8358 44.0275 49H36.9725C36.9907 48.8358 37 48.669 37 48.5C37 46.0147 34.9853 44 32.5 44C30.0147 44 28 46.0147 28 48.5C28 48.669 28.0093 48.8358 28.0275 49H20.9725C20.9907 48.8358 21 48.669 21 48.5C21 46.0147 18.9853 44 16.5 44C14.0147 44 12 46.0147 12 48.5C12 48.669 12.0093 48.8358 12.0275 49H4.97254C4.99068 48.8358 5 48.669 5 48.5C5 46.0147 2.98528 44 0.5 44C0.330995 44 0.164167 44.0093 0 44.0275V36.9725C0.164167 36.9907 0.330995 37 0.5 37C2.98528 37 5 34.9853 5 32.5C5 30.0147 2.98528 28 0.5 28C0.330995 28 0.164167 28.0093 0 28.0275V20.9725C0.164167 20.9907 0.330995 21 0.5 21C2.98528 21 5 18.9853 5 16.5C5 14.0147 2.98528 12 0.5 12C0.330995 12 0.164167 12.0093 0 12.0275V4.97254C0.164167 4.99068 0.330995 5 0.5 5Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        // background-size: cver;
        background-size: 100% 100%;
        // background-position-x: center;
        height: 4rem;
        width: 12rem;
        // outline: 2px solid red;
        // text-align: center;
        // padding-top: .6rem;
        // outline: 2px solid red;
        @include flexCenter;
        color: #5D3721;
        font-weight: bold;
        text-transform: capitalize;
        &::after {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.37692 16.8088H8.37811C8.3791 16.8088 8.3801 16.8086 8.38109 16.8086H22.1914C22.5314 16.8086 22.8303 16.5831 22.9238 16.2561L25.9706 5.59209C26.0363 5.36218 25.9903 5.11502 25.8465 4.92419C25.7025 4.73337 25.4773 4.62109 25.2383 4.62109H6.62021L6.0757 2.1707C5.99814 1.82217 5.68909 1.57422 5.33203 1.57422H0.761719C0.340988 1.57422 0 1.91521 0 2.33594C0 2.75667 0.340988 3.09766 0.761719 3.09766H4.72107C4.81747 3.53188 7.32678 14.824 7.47119 15.4736C6.66167 15.8255 6.09375 16.6326 6.09375 17.5703C6.09375 18.8303 7.1189 19.8555 8.37891 19.8555H22.1914C22.6121 19.8555 22.9531 19.5145 22.9531 19.0938C22.9531 18.673 22.6121 18.332 22.1914 18.332H8.37891C7.95897 18.332 7.61719 17.9902 7.61719 17.5703C7.61719 17.151 7.95778 16.8098 8.37692 16.8088ZM24.2284 6.14453L21.6167 15.2852H8.98987L6.95862 6.14453H24.2284Z' fill='%235D3721'/%3E%3Cpath d='M7.61719 22.1406C7.61719 23.4006 8.64233 24.4258 9.90234 24.4258C11.1624 24.4258 12.1875 23.4006 12.1875 22.1406C12.1875 20.8806 11.1624 19.8555 9.90234 19.8555C8.64233 19.8555 7.61719 20.8806 7.61719 22.1406ZM9.90234 21.3789C10.3223 21.3789 10.6641 21.7207 10.6641 22.1406C10.6641 22.5606 10.3223 22.9023 9.90234 22.9023C9.48241 22.9023 9.14062 22.5606 9.14062 22.1406C9.14062 21.7207 9.48241 21.3789 9.90234 21.3789Z' fill='%235D3721'/%3E%3Cpath d='M18.3828 22.1406C18.3828 23.4006 19.408 24.4258 20.668 24.4258C21.928 24.4258 22.9531 23.4006 22.9531 22.1406C22.9531 20.8806 21.928 19.8555 20.668 19.8555C19.408 19.8555 18.3828 20.8806 18.3828 22.1406ZM20.668 21.3789C21.0879 21.3789 21.4297 21.7207 21.4297 22.1406C21.4297 22.5606 21.0879 22.9023 20.668 22.9023C20.248 22.9023 19.9062 22.5606 19.9062 22.1406C19.9062 21.7207 20.248 21.3789 20.668 21.3789Z' fill='%235D3721'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: contain;
            // outline: 2px solid red;
        }
    }
}
